  <section class="content" id="about">
      <div class="block-content">
          <h3 class="block-title">Perfil</h3>
          <h3 class="subheading">¡Hola! soy Fernando Ramirez <strong>Desarrollador Front end</strong></h3>
          <p>Web con 2 años de experiencia en el desarrollo Front end desde 0 y  en diversos lenguajes Css, Html, Javascript, Ecmascript, Typescript, Bootstrap, Angular y Git-hub</p>
          <div class="info-list row">
              <div class="col-sm-6"><span>Nombre : </span> Fernando Ramirez</div>
              <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Febrero 4, 1990 </div>
              <div class="col-sm-6"><span>Dirección : </span> Malaga , España</div>
              <div class="col-sm-6"><span>Email : </span> ferjaviramirez@gmail.com</div>
              <div class="col-sm-6"><span>Telefono : </span> +34 675387228</div>
              <div class="col-sm-6"><span>Interes : </span> Jornada completa, Freelancer</div>
          </div>
      </div>

      <div class="block-content">
          <h3 class="block-title">Profesional</h3>
          <div >
            
            <div *ngFor="let profe of cv.profesional">
                <label class="progress-bar-label">{{ profe.nombre }}</label>
                <div class="progress">
                    <div [style.width.%]="profe.valor"class="progress-bar" role="progressbar" attr.aria-valuenow="" aria-valuemin="0" aria-valuemax="100">
                        <span>{{profe.valor}}%</span>
                    </div>
                </div>
            </div>

           
        </div>

      </div>
      <div class="block-content">
          <h3 class="block-title">Experiencia</h3>
          <div class="timeline experience">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                          <div >
                            <div class="exp">
                                <div class="hgroup">
                                    <h4><span></span> - </h4>
                                    <h5>  </h5>
                                </div>
                                <p></p>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Educación</h3>
          <div class="timeline education">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                        <div >
                          <div class="exp">
                              <div class="hgroup">
                                  <h4> | <a href="" target="_blank"><span>Ver Certificado</span></a></h4>
                                  <h5></h5>
                              </div>
                              <p></p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Servicios</h3>
          <div class="row">
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-laptop"></i>
                  </div>
                  <h4>Diseño Web</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-pie-graph"></i>
                  </div>
                  <h4>Desarrollo de Aplicaciones</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-paintbucket"></i>
                  </div>
                  <h4>Diseño Grafico</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-printer"></i>
                  </div>
                  <h4>Print Design</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-qr-scanner"></i>
                  </div>
                  <h4>Graphic Design</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-social-buffer"></i>
                  </div>
                  <h4>Print Design</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
          </div>
      </div>
     <!--  <div class="block-content">
          <h3 class="block-title">Awards</h3>
          <div class="row">
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\1.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\2.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\3.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\4.jpeg" alt="">
              </div>
          </div>
      </div> -->
      <div class="block-content">
          <h3 class="block-title">Testimonios</h3>
          <div class="row">
              <div id="liontestimonial" class="owl-carousel owl-theme">
                  <div>
                    <div class="item testimonials">
                        <img src="assets\images\testimonials\1.jpeg" alt="">
                        <blockquote>
                            <p class="quote"><span></span> - </p>
                        </blockquote>
                    </div>
                </div>

              </div>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-12 btn-email">
              <a class="btn lowercase">ferjaviramirez@gmail.com</a>
          </div>
      </div>
  </section>
