<section class="content">
    <div class="block-content">
        <h3 class="block-title">Portafolio</h3>
        <div class="row">
            <div class="col-md-12">

                <div class="portfolio-container row isotope" id="portfolio-container">
                    <!-- WORK 1 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a class="open-project" href="https://ackeebeach.com/">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Ackee Beach</h2>
                                        <hr>
                                        <p>Visitar sitio</p>
                                    </div>
                                    <div class="portfolio-overlay">
                                    </div>
                                </div>
                                <img src="assets\images\portfolio\proy\pro1.jpg" alt="imagenes">
                            </div>
                        </a>
                        <p>Esta es un sitio web desarrollado para una tienda de trajes de baño, hice todo el front end
                            desde 0 con Css, Html, JavaScript</p>
                        <a class="btn" href="https://ackeebeach.com/" target="_blank">Ver sitio</a>
                    </div>
                    <!-- WORK 1 END -->
                    <!-- WORK 2 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                        <a class="open-project" href="project-2.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>App Angular Super Heroes</h2>
                                        <hr>
                                        <p>Visitar aplicacion</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\proy\pro3.jpg" alt="imagenes">
                            </div>
                        </a>
                        <p>Esta es una aplicacion hecha en Angular y Boostrap, que consume datos.</p>
                        <a class="btn" href="http://app-comic.fjdeveloperservice.com/" target="_blank">Visitar
                            Aplicacion</a>
                    </div>
                    <!-- WORK 2 END -->
                    <!-- WORK 3 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a class="open-project" href="project-4.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Aplicacion de covid-19 angular</h2>
                                        <hr>
                                        <p>Ver mi Aplicacion</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\proy\pro5.jpg" alt="imagenes">
                            </div>
                        </a>
                        <p>Aplicacion en angular que demuestra las esdisticas mundiales del covid-19, consumiendo una
                            API real usando Bootstrap</p>
                        <a class="btn" href="http://covid19.fjdeveloperservice.com/" target="_blank">Visitar
                            aplicacion</a>
                    </div>
                    <!-- WORK 3 END -->
                    <!-- WORK 4 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a class="open-project" href="project-4.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Git-Hub </h2>
                                        <hr>
                                        <p>Ver mi repositorio</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\proy\pro4.png" alt="imagenes">
                            </div>
                        </a>
                        <p>Enlace hacia mi repositorio, si quieres colaborar conmigo o aprender de las cosas que hago
                            bienvenido.</p>
                        <a class="btn" href="https://github.com/ferjavi40/" target="_blank">Ver repositorio</a>
                    </div>
                    <!-- WORK 4 END -->

                    <!-- WORK 5 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a class="open-project" href="project-4.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Template de Html en Angular </h2>
                                        <hr>
                                        <p>Ver mi repositorio</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\proy\pro6.jpg" alt="imagenes">
                            </div>
                        </a>
                        <p>Es un template de Html montado en Angular 9 consumiendo Api rest en Firebase</p>
                        <a class="btn" href="https://ferjavi40.github.io/Template-de-Html-adaptado-en-Angular/#/home" target="_blank">Visitar Aplicacion</a>
                    </div>
                    <!-- WORK 5 END -->

                    <!-- WORK 6 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                        <a class="open-project" href="project-3.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Broker services</h2>
                                        <hr>
                                        <p>Muy pronto online</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="assets\images\portfolio\proy\pro2.jpg" alt="imagenes">
                            </div>
                        </a>
                        <p>Pagina para corredor de bolsa, se esta trabajando todo el front desde 0, muy pronto online.
                        </p>
                    </div>
                    <!-- WORK 6 END -->




                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">ferjaviramirez@gmail.com</a>
        </div>
    </div>
</section>